a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

body {
	background: #ddd;
	font-family: 'Roboto', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	padding: 0 40px 40px;
}

#container {
	background: white;
	height: 480px;
	margin: auto;
	overflow: scroll;
	overflow-x: hidden;
	position: relative;
	width: 320px;
}

header {
	background: #222;
}

header:after,
header:before {
	content: ' ';
	display: table;
}

header:after{
	clear: both;
}

#menu {
	display: none;
}

#menu:target {
	display: block;
}

#menu a {
	background: #444;
	border-top: 1px solid #222;
	color: #ccc;
	display: block;
	padding: 10px;
	text-decoration: none;
}

#menu li:first-child a {
	border-top: 0;
}

h1 {
	color: white;
	float: left;
	font-weight: bold;
	padding: 10px 0;
}

.button {
	color: white;
	display: block;
	float: left;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
}

section {
	padding-top: 10px;
}

p {
	color: #222;
	font-size: 14px;
	line-height: 16px;
	padding: 0 10px 10px;
}